@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
//https://docs.fontawesome.com/web/style/fixed-width boyutlandırma
// - https://developer.mozilla.org/en-US/docs/Glossary/Semantics#semantic_elements
// - https://chettriyuvraj.hashnode.dev/how-to-structure-your-sass-code (dosya parçalamak)

//style.scss
// Değişkenler
$ghost-white: #f7f8fc;
$equinox: #64686c;
$thames-dusk: #64676c;
$moon-white: #eaf1fb;
$sonic-silver: #757575ff;
$bleu-de-france: #2f80ed;
$icy-landscape: #c3e7ff;
$black-silver: #0000004d;
$black-oak: #4f4f4f;
$black-panther: #414244;
$veiling-waterfalls: #d3e3fd;
$lavendar-wisp: #eaebef;
$stiletto: #313234;
$white: #ffffff;
$black: #000000;
$smoked-pearl: #6d6e70ff;
$carbon: #333333ff;
$cotton-ball: #f2f6fc;
$shadowed-steel: #4a4a4aff;
$dead-blue-eyes: #0e57cbff;
$mission-control: #818488ff;
$black-dark: #00000099;
$noghrei-silver: #bdbdbdff;
$placebo-blue: #ecf2fcff;
$covered-in-platinum: #b8b9baff;
$anti-flash-white: #f1f3f4ff;
$american-yellow: #f4b400;
$christmas-silver: #e0e0e0ff;
$squant: #666666ff;
$mission-control: #818488;
$brilliant-liquorice: #535456ff;
$bái-sè-white: #eceff1ff;
$lighthouse: #f4f4f4ff;
$fantasia: #747789ff;
$cerebral-grey: #ccccccff;
$snowflake: #f0f0f0ff;
$bisque: #ffe4c4ff;
$back-black: #0000001a;

$ff-sans: "Open Sans", sans-serif;
$ff-roboto: "Roboto", sans-serif;

$fs-5:  0.313rem;
$fs-9:  0.563rem;
$fs-10: 0.625rem;
$fs-11: 0.688rem;
$fs-12: 0.75rem;
$fs-13: 0.813rem;
$fs-14: 0.875rem;
$fs-15: 0.938rem;
$fs-16: 1.0rem;
$fs-17: 1.063rem;
$fs-18: 1.125rem; 
$fs-19: 1.188rem; 
$fs-27: 1.688rem;
$fs-41: 2.563rem;

$lh-11: 0.688rem;
$lh-12: 0.75rem;
$lh-14: 0.875rem; 
$lh-15: 0.938rem;
$lh-17: 1.063rem;
$lh-19: 1.188rem; 
$lh-20: 1.25rem;
$lh-24: 1.5rem;
$lh-25: 1.563rem;

body{
  background-color: $ghost-white;
}

.gmail-project{
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;            
    width: 100%;
    padding: 0;                     
    margin: 0;
    padding-top: 25px;

    &-catagory{
      display: flex;
      padding-top: 9px;
      padding-left: 21px;

      &-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        
        &:hover{
          background-color: $lavendar-wisp;
          border-radius: 100%;
        }

        &-icon{
          font-size: $fs-16;
        }
      }

      &-icon{
        padding-top: 5px;
        padding-left: 18px;
      }
      
      &-text{
        &-mail{
          font-family: $ff-sans;
          font-size: $fs-19;
          line-height: $lh-25;
          font-weight: 600;
          color: $equinox;
          padding-block: 3px;
          padding-left: 9px;
          margin: 0;
        }
      }
    }

    &-search{
      display: flex;
      width: 68%;
      background-color: $moon-white;
      border-radius: 100px;
      padding-left: 20px;
      padding-right: 12px;

      &-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        margin-block: 11px;
        color: $thames-dusk;

        &:hover{
          background-color: $lavendar-wisp;
          border-radius: 100%;
        }
      }

      &-input{
        display: block; 
        width: 100%; 

        &-form{
          display: block;
          width: 100%;
          flex-grow: 1;
          border-radius: 0;
          background-color: transparent;
          border: 1px solid $moon-white;
          padding-block: 17px;
          padding-left: 10px;
          
          &::placeholder {
          color: $sonic-silver;  
          }

          &:focus {
            outline: none;
          }
        }
      }

      &-settings{
        display: flex;
        margin-left: auto;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        margin-block: 11px;

        &:hover{
          background-color: $lavendar-wisp;
          border-radius: 100%;
        }
      }
    }

    &-select{
      display: flex;
      font-size: $fs-16;

      &-question{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $fs-16;
        width: 32px;
        height: 32px;

        &:hover{
          background-color: $lavendar-wisp;
          border-radius: 100%;
        }
      }

      &-gear{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 6px;
        font-size: $fs-16;
        width: 32px;
        height: 32px;
      
        &:hover{
          background-color: $lavendar-wisp;
          border-radius: 100%;
        }
      }

      &-users{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 6px;
        font-size: $fs-15;
        width: 32px;
        height: 32px;

        &:hover{
          background-color: $lavendar-wisp;
          border-radius: 100%;
        }
      }

      &-user{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $bleu-de-france;
        margin-left: 14px;
        font-size: $fs-27;
      }
    }
  }

  &__coverage{
    display: flex;
    width: 100%;

    &-selection{
      display: flex;
      justify-content: start;
      flex-grow: 1;

      &-boxs{
        padding-top: 14px;

        &-create{
          display: flex;
          background-color: $icy-landscape;
          max-width: 124px;
          margin-left: 7px;
          border-radius: 10px;
          gap: 15px;
  
          &-compose{
            display: flex;

            &-pen{
              padding-left: 16px;
              padding-top: 17px;
              padding-bottom: 17px;
              font-size: $fs-16;
            }
      
            &-text{
              font-family: $ff-sans;
              font-size: $fs-13;
              line-height: $lh-17;
              font-weight: 600;
              color: $black-oak;
              padding-block: 16px;
              padding-left: 15px;
              padding-right: 16px;
              margin: 0;
            } 
          }
        }

        &.collapsed {
          width: 50px; //soldaki ikonlar küçülünce çalışıyor 
        }
  
        &-headline{
          padding-left: 23px;

          &:hover{
            background-color: $lavendar-wisp;
            border-top-right-radius: 17px;
            border-bottom-right-radius: 17px;
          }

          &.active { // sol kısmın üstüne basınca açılan mavilik
            background-color: $veiling-waterfalls; 
            border-top-right-radius: 17px;
            border-bottom-right-radius: 17px;
            
            p, i {
              color: $black; 
            }
          }
  
          &-inbox{
            margin-top: 14px;
  
            &-icon{
              font-size: $fs-13;
            }
  
            &-text{
              font-family: $ff-roboto;
              font-size: $fs-13;
              line-height: $lh-15;
              font-weight: 400;
              color: $black-panther;
              padding-top: 6px;
              padding-bottom: 7px;
              padding-left: 20px;
              margin: 0;
            }
          }
  
          &-star{
            display: flex;
  
            &-icon{
              color: $black-oak;
            }
  
            &-text{
              font-family: $ff-roboto;
              font-size: $fs-13;
              line-height: $lh-15;
              font-weight: 400;
              color: $black-panther;
              padding-top: 6px;
              padding-bottom: 7px;
              padding-left: 18px;
              margin: 0;
            }
          }
  
          &-clock{
            &-icon{
              color: $black-oak;
            }
  
            &-text{
              font-family: $ff-roboto;
              font-size: $fs-13;
              line-height: $lh-15;
              font-weight: 400;
              color: $black-panther;
              padding-top: 6px;
              padding-bottom: 7px;
              padding-left: 19px;
              margin: 0;
            }
          }
  
          &-sent{
            &-icon{
              color: $black-oak;
            }
            
            &-text{
              font-family: $ff-roboto;
              font-size: $fs-13;
              line-height: $lh-15;
              font-weight: 400;
              color: $black-panther;
              padding-top: 6px;
              padding-bottom: 7px;
              padding-left: 20px;
              margin: 0;
            }
          }
  
          &-file{
            &-icon{
              color: $black-oak;
            }
  
            &-text{
              font-family: $ff-roboto;
              font-size: $fs-13;
              line-height: $lh-15;
              font-weight: 400;
              color: $black-panther;
              padding-top: 6px;
              padding-bottom: 7px;
              padding-left: 20px;
              margin: 0;
            }
          }

          &-inbox,
          &-star,
          &-clock,
          &-sent,
          &-file {
            display: flex;
            align-items: center;
            padding-top: 8px;
            padding-right: 10px;

            &-icon {
              font-size: $fs-14; 
            }
          }
  
          &-more {
            display: flex;
            cursor: pointer; // mouse imleci değişir
          
            &-icon {
              font-size: $fs-13;
              padding: 8px 0 0 0;
              color: $black-oak;
            }
        
            &-text {
              font-family: $ff-roboto;
              font-size: $fs-13;
              line-height: $lh-15;
              font-weight: 400;
              color: $black-panther;
              padding-top: 6px;
              padding-bottom: 7px;
              padding-left: 21px;
              margin: 0;
            }
          }
        }

        &-menu {
          display: none;

          &-item {
            display: flex;
            cursor: pointer;
            padding-left: 23px;
            width: 190px;
            height: 28px;
            color: $black-oak;
          
            &:hover {
              width: 100%;
              background-color: $lavendar-wisp;
              border-top-right-radius: 17px;
              border-bottom-right-radius: 17px;
            }
          
            &.active { //sol more kısımdaki ikonlar tıklanınca mavi  
              width: 100%;
              background-color: $veiling-waterfalls; 
              border-top-right-radius: 17px;
              border-bottom-right-radius: 17px;
              
              p, i {
                color: $black; 
              }
            }
          
            i {
              font-size: $fs-13;
              padding: 8px 0 0 0;
            }
          
            &-text {
              font-family: $ff-roboto;
              font-size: $fs-13;
              line-height: $lh-15;
              font-weight: 400;
              color: $black-panther;
              padding-top: 6px;
              padding-bottom: 7px;
              padding-left: 21px;
              margin: 0;
            }
          }
        }

        &-labels{
          padding-top: 26px;

          &-add{
            padding-left: 23px;
            display: flex;
            font-family: $ff-sans;
            font-size: $fs-15;
            line-height: $lh-20;
            font-weight: 600;
            color: $stiletto;

            &-header{
              margin: 0;
              padding-bottom: 10px;
            }

            &-icon{
              padding-left: 119px;
              padding-top: 4px;
              font-size: $fs-12;
              color: $black;
              z-index: 10; 

              &.collapsed {
                margin-left: 0px; 
              }
            }
          }

          &-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $black-dark; 
            display: none; 
            z-index: 99;
          }
          
          &-modal {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 32%;
            background-color: $white;
            border-radius: 8px;
            box-shadow: 0 4px 12px $black-silver;
            display: none; 
            z-index: 100;
          
            &-header {
              font-size: $fs-18;
              font-weight: bold;
              margin: 0;
              padding: 24px 24px 16px 24px;
            }
          
            &-content {
              padding: 0 24px 20px;
          
              &-label {
                display: block;
                margin-bottom: 8px;
              }
          
              &-select,&-text {
                width: 100%;
                padding: 10px;
                border: 1px solid $ghost-white;
                border-radius: 4px;
                margin-bottom: 15px;
              }
              
              &-check{
                display: flex;

                &-input{
                  margin-right: 8px;
                }
              }
            }
          
            &-footer {
              display: flex;
              justify-content: flex-end;
              padding: 0 24px 20px;
              gap: 8px;

              &-close{
                padding: 10px 20px;
                border: none;
                border-radius: 40px;
                cursor: pointer;
                color: $dead-blue-eyes;
                background-color: $white;

                &:hover{
                  background-color: $placebo-blue;
                }
              }

              &-create{
                padding: 10px 20px;
                border: none;
                border-radius: 40px;
                cursor: pointer;
                color: $anti-flash-white;
                background-color: $bleu-de-france;
              }
            }
          }

          &-categories{
            display: flex;
            align-items: center;
            padding-left: 23px;
            padding-block: 9px;
            position: relative;

            &:hover{
              background-color: $lavendar-wisp;
              border-top-right-radius: 17px;
              border-bottom-right-radius: 17px;
            }
            
            &-article{
              width: 14px;
              height: 11px;
              background-color: $thames-dusk;
              clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%); //sol kısımda labelın altında değiştirilebilir renk kutusu
            }

            &-text{
              font-family: $ff-roboto;
              font-size: $fs-13;
              line-height: $lh-15;
              color: $black-panther;
              font-weight: 400;
              padding-left: 16px;
              margin: 0;
            }

            &-icon{
              margin-left: auto;
              cursor: pointer;
              margin-right: 8px;
              
              &-menu {
                position: absolute;
                background-color: $white;
                border: 1px solid $cerebral-grey;
                border-radius: 5px;
                box-shadow: 0 4px 6px $back-black;
                padding: 10px;
                list-style: none;
                z-index: 100;
              
                &-edit,&-delete {
                  cursor: pointer;
                  padding: 5px;
                  font-size: $fs-14;
                  color: $carbon;
                  transition: background-color 0.3s;
              
                  &:hover {
                    background-color: $snowflake;
                  }
                }
              }
            }
          }
        }
      }
    }

    &-main{
      background-color: $white;
      border-radius: 15px;
      height: 175%;
      margin-top: 9px;
      transition: width 0.3s ease;
      flex-grow: 1;
      margin-left: 12px;

      &-controller{
        display: flex;
        align-items: center;
        margin-top: 16px;
        margin-left: 18px;
        position: relative;

        &-check{
          width: 13px;
          height: 13px;

          &:hover{
            background-color: $lavendar-wisp;
            border-radius: 5%;
          }
        }

        &-down{
          padding-left: 7px;
          font-size: $fs-12;
        }

        &-refresh, &-other{
          padding-left: 27px;
        }

        &-trash, &-open{
          padding-left: 27px;
          display: none;
        }

        &-interval{
          display: flex;
          margin-left: auto;
          padding-right: 35px;

          &-text{
            font-family: $ff-roboto;
            font-size: $fs-10;
            line-height: $lh-11;
            font-weight: 500;
            color: $mission-control;
            padding-top: 2px;
            margin: 0;
          }

          &-left,
          &-right{
            padding-left: 23px;
            font-size: $fs-10;
            color: $noghrei-silver;
            padding-top: 3px;
          }
        }
      }

      &-selection{
        display: flex;
        flex-direction: row;
        padding-top: 12px;
      
        &-primary{
          display: flex;
          padding: 18px 127px 18px 15px;

          &:hover{
            background-color: $lighthouse;
          }

          &-text{
            font-family: $ff-roboto;
            font-size: $fs-13;
            line-height: $lh-15;
            font-weight: 600;
            padding-left: 16px;
            padding-bottom: 2px;
            margin: 0;
            color: $black-oak;
          }
        }

        &-promotions, &-social{
          display: flex;
          padding: 18px 127px 18px 21px;

          &:hover{
            background-color: $lighthouse;
          }

          &-text{
            font-family: $ff-roboto;
            font-size: $fs-13;
            line-height: $lh-15;
            font-weight: 600;
            padding-left: 16px;
            padding-bottom: 2px;
            margin: 0;
            color: $black-oak;
          }
        }
      }

      &-mail{
        display: flex;
        margin-right: 17px;
        align-items: center;
        position: relative;
        background-color: $bisque;

        &.read {
          .gmail-project__coverage-main-mail-sender,
          .gmail-project__coverage-main-mail-detail {
            color: $smoked-pearl;
          }

          .gmail-project__coverage-main-mail-star{
            color: $smoked-pearl;

            &.fa-solid {
              color: $american-yellow; //siyah olmasın diye
            }
          }
          
        }
      
        &.unread {
          .gmail-project__coverage-main-mail-sender,
          .gmail-project__coverage-main-mail-detail {
            color: $carbon;
          }

          .gmail-project__coverage-main-mail-star{
            color: $carbon;
            
            &.fa-solid {
              color: $american-yellow;
            }
          }
        }

        &-table{
          width: 100%;
        }
      
        &-vertical {
          position: absolute; 
          left: 0; 
          opacity: 0; //görünürlüğü değiştirdiğim kısım
          transition: opacity 0.3s ease;
          display: none;

          &:hover{
            opacity: 1;
          }
        }
      
        &-check {
          margin-left: 15px; 
          transition: none;
        }
      
        &-star {
          padding-left: 15px;
          cursor: pointer;
          transition: color 0.3s ease;
          color: $noghrei-silver;

          &.fa-solid {
            color: $american-yellow;
          }
        }

      &-user{
        &-sender {
          width: 15%;
          font-family: $ff-roboto;
          font-size: $fs-13;
          line-height: $lh-15;
          font-weight: 500;
          color: $smoked-pearl;
          padding-left: 15px;
          padding-top: 10px;
          margin: 0 0 10px 0;
          white-space: nowrap; // Tek satırda tutar
        }
      
        &-detail {
          width: 60%;
          font-family: $ff-roboto;
          font-size: $fs-13;
          line-height: $lh-15;
          font-weight: 400;
          color: $smoked-pearl;
          padding-top: 10px;
          margin: 0 0 10px 0;
          white-space: nowrap; // Tek satırda tutar
        }
      
        &-date {
          display: flex;
          padding-right: 80px;
          font-family: $ff-roboto;
          font-size: $fs-10;
          line-height: $lh-11;
          font-weight: 400;
          color: $black-panther;
          margin: 0;
          white-space: nowrap; // Tek satırda tutar
        }
      }
      
        &-icons {
          position: absolute;
          right: 15px;
          display: none;

          &:hover {
            display: flex;
          }
      
          i {
            margin-left: 15px;
            cursor: pointer;
            font-size: $fs-13;
            color: $black-panther;
          }
        }
      }

      &-box { 
        left: 948px;
        bottom: 13px;
        background-color: $white;
        border-radius: 5px;
        box-shadow: 0 4px 12px $back-black;
        display: none; 
        flex-direction: column;
        position: fixed;


        &-header {
          display: flex;
          justify-content: space-between;
          background-color: $cotton-ball;
          color: $shadowed-steel;
          border-bottom: 1px solid;
      
          &-text {
            font-family: $ff-roboto;
            font-size: $fs-12;
            line-height: $lh-14;
            font-weight: 500;
            color: $shadowed-steel;
            padding: 10px 0 9px 16px;
            margin: 0;
          }
      
          &-icons {
            &-minimize {
              cursor: pointer;
              padding: 0px 0 12px 0;
              font-size: $fs-9;
              color: $shadowed-steel;
            }

            &-close {
              cursor: pointer;
              padding: 12px 16px 11px 14px;
              font-size: $fs-12;
              color: $shadowed-steel;
            }
          }
        }

        &-content {
          font-size: $fs-14;
          color: $black-oak;
      
          &-to{
            padding-top: 10px;
            padding-left: 16px;
            padding-right: 16px;

            &-text{
              font-family: $ff-roboto;
              font-size: $fs-12;
              line-height: $lh-14;
              font-weight: 400;
              padding-top: 33px;
              padding-bottom: 10px;
            }

            &-input{
              width: calc(98% - 50px);
              padding: 1px;
              border: none;
              border-radius: 4px;

              &::placeholder {
                font-family: $ff-roboto;
                font-size: $fs-12;
                line-height: $lh-14;
                font-weight: 400;
                color: $shadowed-steel;
              }
              
              &:focus {
                outline: none; //çevre çizgilerini kaldırdı
              }
            }

            &-stick{
              margin: 0;
            }
          }

          &-subject{
            padding-top: 9px;
            padding-left: 16px;
            padding-right: 16px;

            &-input{
              width: calc(105% - 50px);
              border: none;
              border-radius: 4px;
              padding-bottom: 9px;

              &::placeholder {
                font-family: $ff-roboto;
                font-size: $fs-12;
                line-height: $lh-14;
                font-weight: 400;
                color: $fantasia;
              }

              &:focus {
                outline: none;
              }
            }

            &-hr{
              margin: 0;
            }
          }
      
          &-body {
            padding: 0;
            width: 91%;
            min-height: 322px;
            border: none;
            border-radius: 4px;
            margin-left: 16px;
            padding-top: 10px;

            &:focus {
              outline: none;
            }
          }

          &-footer {
            display: flex;
            align-items: center;
            padding-left: 15px;
            padding-right: 17px;
            padding-bottom: 12px;
        
            &-send {
              font-family: $ff-roboto;
              font-size: $fs-12;
              line-height: $lh-14;
              font-weight: 500;
              background-color: $dead-blue-eyes;
              color: $white;
              padding: 7px 41px 7px 15px;
              margin-right: 4px;
              border: none;
              border-radius: 200px;
              cursor: pointer;
        
              &:hover {
                background-color: $bleu-de-france;
              }
            }

            &-icon{
              display: flex;
              
              i{
                padding-left: 14px;
              }
            }

            &-trash{
              padding-left: 127px;
            }
          }
        }
      }

      &-detail{
        padding-left: 18px;
        padding-top: 16px;

        &-icons{
          display: flex;
          align-items: center;
          color: $black-oak;
          font-size: $fs-14;

          &-back{
            cursor: pointer;
          }

          &-archive{
            padding-left: 48px;
            padding-right: 23px;
          }

          &-exclamation,&-trash,&-stick,&-open,
          &-clock,&-check,&-folder,&-left{
            padding-right: 23px;
          }

          &-interval{
            display: flex;
            margin-left: auto;
            padding-right: 35px;
  
            &-text{
              font-family: $ff-roboto;
              font-size: $fs-10;
              line-height: $lh-11;
              font-weight: 500;
              color: $mission-control;
              padding-top: 2px;
              margin: 0;
            }
  
            &-left{
              padding-left: 23px;
              font-size: $fs-10;
              color: $noghrei-silver;
              padding-top: 3px;
            }
  
            &-right{
              padding-left: 28px;
              font-size: $fs-10;
              color: $noghrei-silver;
              padding-top: 3px;
            }
          }
        }

        &-content{
          display: flex;
          align-items: center;
          padding: 41px 39px 23px 57px;     
          width: 100%;

          &-text{
            font-family: $ff-sans;
            font-size: $fs-18;
            line-height: $lh-24;
            font-weight: 400;
            margin: 0;
            padding-right: 10px;
          }

          &-inbox{
            display: flex;
            width: 50px;
            height: 18px;
            background-color: $christmas-silver;
            border-radius: 4px;

            &-text{
              font-family: $ff-roboto;
              font-size: $fs-11;
              line-height: $lh-12;
              font-weight: 500;
              color: $squant;
              padding: 3px 0 2px 6px;
              margin: 0;
            }

            &-cancel{
              padding: 9px 5px 15px 5px;
              font-size: $fs-5;
              color: $squant;
            }
          }
          &-icons{
            display: flex;
            margin-left: auto;
            padding-right: 90px;
            color: $thames-dusk;
            
            &-print{
              font-size: $fs-13;
            }

            &-share{
              font-size: $fs-12;
              padding-left: 19px;
            }
          }
        }

        &-sender{
          display: flex;
          padding: 0 39px 20px 0;

          &-user{
            font-size: $fs-41;
            color: $bleu-de-france;
          }

          &-name{
            display: flex;
            font-family: $ff-roboto;
            font-size: $fs-15;
            line-height: $lh-17;
            font-weight: 700;
            padding: 2px 0 0 16px;

            &-mail{
              font-family: $ff-roboto;
              font-size: $fs-15;
              line-height: $lh-17;
              font-weight: 700;
              color: $sonic-silver;
            }
          }

          &-info{
            display: flex;
            margin-left: auto;

            &-text{
              font-family: $ff-roboto;
              font-size: $fs-10;
              line-height: $lh-11;
              font-weight: 500;
              color: $mission-control;
              margin: 0;
            }

            &-star{
              font-size: $fs-13;
              padding: 4px 0 0 20px;
              cursor: pointer;
              transition: color 0.3s ease;
              color: $noghrei-silver;

              &.fa-solid {
                color: $american-yellow;
              }
            }

            &-reply{
              font-size: $fs-14;
              padding: 0 0 0 20px;
            }

            &-stick{
              font-size: $fs-11;
              padding: 2px 0 0 20px;
            }
          }
        }

        &-explanation{
          padding: 12px 95px 0 57px;

          &-text{
            font-family: $ff-roboto;
            font-size: $fs-14;
            line-height: $lh-19;
            font-weight: 400;
            color: $brilliant-liquorice;
            margin: 0;
          }

          &-divider{
            color: $bái-sè-white;
            margin: 30px 0;
          }
        }
      }
    }

    &-icons{
      padding-top: 19px;
      margin-left: 12px;
      
      &-calendar{
        font-size: $fs-16;
        padding-bottom: 32px;
      }

      &-light{
        font-size: $fs-17;
        padding-bottom: 32px;
      }

      &-user{
        font-size: $fs-16;
        padding-bottom: 32px;
      }

      &-minus{
        font-size: $fs-17;
        padding-bottom: 32px;
      }

      &-plus{
        font-size: $fs-14;
        padding-bottom: 32px;
      }
    }
  }
}

//sol kısmın açılıp kapanması sonucu değişecek durumlar
$is-collapsed-display: none;
$is-expanded-display: block;

.gmail-project__coverage-selection-boxs {

  &.collapsed {
    p, .gmail-project__coverage-selection-boxs-labels-add-header,
    .gmail-project__coverage-selection-boxs-labels-categories-text,
    .gmail-project__coverage-selection-boxs-create-compose-text,
    .gmail-project__coverage-selection-boxs-menu-item-text {
      display: $is-collapsed-display;
      }
        
      .gmail-project__coverage-selection-boxs-labels-add-icon {
        padding-left: 0px;
        padding-bottom: 10px;
      } 
      .gmail-project__coverage-selection-boxs-headline,
      .gmail-project__coverage-selection-boxs-menu-item,
      .gmail-project__coverage-selection-boxs-labels-categories{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        padding-left: 0px;
        margin-left: 11px;
        i{
          padding-left: 9px;
          padding-bottom: 10px;
        }

        .gmail-project__coverage-selection-boxs-labels-categories-article{
          margin-left: 5px;
          padding-left: 15px;
        }

        .gmail-project__coverage-selection-boxs-labels-categories-icon{
          padding-top: 10px;
          padding-left: 10px;
          padding-bottom: 10px;
        }
      }
    }

  &.expanded {
    p, .gmail-project__coverage-selection-boxs-labels-add-header,
      .gmail-project__coverage-selection-boxs-labels-categories-text,
      .gmail-project__coverage-selection-boxs-create-compose-text,
       .gmail-project__coverage-selection-boxs-menu-item-text {
         display: $is-expanded-display;
      }

      .gmail-project__coverage-selection-boxs-labels-add-icon {
         padding-left: 119px;
      }
    }
}



//primary kısımlarının mavilikleri
.gmail-project__coverage-main-selection .active i,
.gmail-project__coverage-main-selection .active p {
  color: $bleu-de-france;
}

//ortadaki hover durumları
.gmail-project__coverage-main-mail {
  .gmail-project__coverage-main-mail-icons,
  .gmail-project__coverage-main-mail-vertical {
    display: none;
  }

  // Hover durumunda ikonları görünür yap
  &:hover {
    .gmail-project__coverage-main-mail-icons {
      display: flex;
    }
    .gmail-project__coverage-main-mail-vertical {
      display: inline;
    }
  }
}
