@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  background-color: #f7f8fc;
}

.gmail-project__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 25px;
}
.gmail-project__nav-catagory {
  display: flex;
  padding-top: 9px;
  padding-left: 21px;
}
.gmail-project__nav-catagory-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gmail-project__nav-catagory-menu:hover {
  background-color: #eaebef;
  border-radius: 100%;
}
.gmail-project__nav-catagory-menu-icon {
  font-size: 1rem;
}
.gmail-project__nav-catagory-icon {
  padding-top: 5px;
  padding-left: 18px;
}
.gmail-project__nav-catagory-text-mail {
  font-family: "Open Sans", sans-serif;
  font-size: 1.188rem;
  line-height: 1.563rem;
  font-weight: 600;
  color: #64686c;
  padding-block: 3px;
  padding-left: 9px;
  margin: 0;
}
.gmail-project__nav-search {
  display: flex;
  width: 68%;
  background-color: #eaf1fb;
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 12px;
}
.gmail-project__nav-search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-block: 11px;
  color: #64676c;
}
.gmail-project__nav-search-icon:hover {
  background-color: #eaebef;
  border-radius: 100%;
}
.gmail-project__nav-search-input {
  display: block;
  width: 100%;
}
.gmail-project__nav-search-input-form {
  display: block;
  width: 100%;
  flex-grow: 1;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid #eaf1fb;
  padding-block: 17px;
  padding-left: 10px;
}
.gmail-project__nav-search-input-form::-moz-placeholder {
  color: #757575;
}
.gmail-project__nav-search-input-form::placeholder {
  color: #757575;
}
.gmail-project__nav-search-input-form:focus {
  outline: none;
}
.gmail-project__nav-search-settings {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-block: 11px;
}
.gmail-project__nav-search-settings:hover {
  background-color: #eaebef;
  border-radius: 100%;
}
.gmail-project__nav-select {
  display: flex;
  font-size: 1rem;
}
.gmail-project__nav-select-question {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  width: 32px;
  height: 32px;
}
.gmail-project__nav-select-question:hover {
  background-color: #eaebef;
  border-radius: 100%;
}
.gmail-project__nav-select-gear {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  font-size: 1rem;
  width: 32px;
  height: 32px;
}
.gmail-project__nav-select-gear:hover {
  background-color: #eaebef;
  border-radius: 100%;
}
.gmail-project__nav-select-users {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  font-size: 0.938rem;
  width: 32px;
  height: 32px;
}
.gmail-project__nav-select-users:hover {
  background-color: #eaebef;
  border-radius: 100%;
}
.gmail-project__nav-select-user {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2f80ed;
  margin-left: 14px;
  font-size: 1.688rem;
}
.gmail-project__coverage {
  display: flex;
  width: 100%;
}
.gmail-project__coverage-selection {
  display: flex;
  justify-content: start;
  flex-grow: 1;
}
.gmail-project__coverage-selection-boxs {
  padding-top: 14px;
}
.gmail-project__coverage-selection-boxs-create {
  display: flex;
  background-color: #c3e7ff;
  max-width: 124px;
  margin-left: 7px;
  border-radius: 10px;
  gap: 15px;
}
.gmail-project__coverage-selection-boxs-create-compose {
  display: flex;
}
.gmail-project__coverage-selection-boxs-create-compose-pen {
  padding-left: 16px;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 1rem;
}
.gmail-project__coverage-selection-boxs-create-compose-text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.813rem;
  line-height: 1.063rem;
  font-weight: 600;
  color: #4f4f4f;
  padding-block: 16px;
  padding-left: 15px;
  padding-right: 16px;
  margin: 0;
}
.gmail-project__coverage-selection-boxs.collapsed {
  width: 50px;
}
.gmail-project__coverage-selection-boxs-headline {
  padding-left: 23px;
}
.gmail-project__coverage-selection-boxs-headline:hover {
  background-color: #eaebef;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}
.gmail-project__coverage-selection-boxs-headline.active {
  background-color: #d3e3fd;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}
.gmail-project__coverage-selection-boxs-headline.active p, .gmail-project__coverage-selection-boxs-headline.active i {
  color: #000000;
}
.gmail-project__coverage-selection-boxs-headline-inbox {
  margin-top: 14px;
}
.gmail-project__coverage-selection-boxs-headline-inbox-icon {
  font-size: 0.813rem;
}
.gmail-project__coverage-selection-boxs-headline-inbox-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.813rem;
  line-height: 0.938rem;
  font-weight: 400;
  color: #414244;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 20px;
  margin: 0;
}
.gmail-project__coverage-selection-boxs-headline-star {
  display: flex;
}
.gmail-project__coverage-selection-boxs-headline-star-icon {
  color: #4f4f4f;
}
.gmail-project__coverage-selection-boxs-headline-star-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.813rem;
  line-height: 0.938rem;
  font-weight: 400;
  color: #414244;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 18px;
  margin: 0;
}
.gmail-project__coverage-selection-boxs-headline-clock-icon {
  color: #4f4f4f;
}
.gmail-project__coverage-selection-boxs-headline-clock-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.813rem;
  line-height: 0.938rem;
  font-weight: 400;
  color: #414244;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 19px;
  margin: 0;
}
.gmail-project__coverage-selection-boxs-headline-sent-icon {
  color: #4f4f4f;
}
.gmail-project__coverage-selection-boxs-headline-sent-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.813rem;
  line-height: 0.938rem;
  font-weight: 400;
  color: #414244;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 20px;
  margin: 0;
}
.gmail-project__coverage-selection-boxs-headline-file-icon {
  color: #4f4f4f;
}
.gmail-project__coverage-selection-boxs-headline-file-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.813rem;
  line-height: 0.938rem;
  font-weight: 400;
  color: #414244;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 20px;
  margin: 0;
}
.gmail-project__coverage-selection-boxs-headline-inbox, .gmail-project__coverage-selection-boxs-headline-star, .gmail-project__coverage-selection-boxs-headline-clock, .gmail-project__coverage-selection-boxs-headline-sent, .gmail-project__coverage-selection-boxs-headline-file {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-right: 10px;
}
.gmail-project__coverage-selection-boxs-headline-inbox-icon, .gmail-project__coverage-selection-boxs-headline-star-icon, .gmail-project__coverage-selection-boxs-headline-clock-icon, .gmail-project__coverage-selection-boxs-headline-sent-icon, .gmail-project__coverage-selection-boxs-headline-file-icon {
  font-size: 0.875rem;
}
.gmail-project__coverage-selection-boxs-headline-more {
  display: flex;
  cursor: pointer;
}
.gmail-project__coverage-selection-boxs-headline-more-icon {
  font-size: 0.813rem;
  padding: 8px 0 0 0;
  color: #4f4f4f;
}
.gmail-project__coverage-selection-boxs-headline-more-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.813rem;
  line-height: 0.938rem;
  font-weight: 400;
  color: #414244;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 21px;
  margin: 0;
}
.gmail-project__coverage-selection-boxs-menu {
  display: none;
}
.gmail-project__coverage-selection-boxs-menu-item {
  display: flex;
  cursor: pointer;
  padding-left: 23px;
  width: 190px;
  height: 28px;
  color: #4f4f4f;
}
.gmail-project__coverage-selection-boxs-menu-item:hover {
  width: 100%;
  background-color: #eaebef;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}
.gmail-project__coverage-selection-boxs-menu-item.active {
  width: 100%;
  background-color: #d3e3fd;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}
.gmail-project__coverage-selection-boxs-menu-item.active p, .gmail-project__coverage-selection-boxs-menu-item.active i {
  color: #000000;
}
.gmail-project__coverage-selection-boxs-menu-item i {
  font-size: 0.813rem;
  padding: 8px 0 0 0;
}
.gmail-project__coverage-selection-boxs-menu-item-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.813rem;
  line-height: 0.938rem;
  font-weight: 400;
  color: #414244;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 21px;
  margin: 0;
}
.gmail-project__coverage-selection-boxs-labels {
  padding-top: 26px;
}
.gmail-project__coverage-selection-boxs-labels-add {
  padding-left: 23px;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 0.938rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #313234;
}
.gmail-project__coverage-selection-boxs-labels-add-header {
  margin: 0;
  padding-bottom: 10px;
}
.gmail-project__coverage-selection-boxs-labels-add-icon {
  padding-left: 119px;
  padding-top: 4px;
  font-size: 0.75rem;
  color: #000000;
  z-index: 10;
}
.gmail-project__coverage-selection-boxs-labels-add-icon.collapsed {
  margin-left: 0px;
}
.gmail-project__coverage-selection-boxs-labels-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 99;
}
.gmail-project__coverage-selection-boxs-labels-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3019607843);
  display: none;
  z-index: 100;
}
.gmail-project__coverage-selection-boxs-labels-modal-header {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0;
  padding: 24px 24px 16px 24px;
}
.gmail-project__coverage-selection-boxs-labels-modal-content {
  padding: 0 24px 20px;
}
.gmail-project__coverage-selection-boxs-labels-modal-content-label {
  display: block;
  margin-bottom: 8px;
}
.gmail-project__coverage-selection-boxs-labels-modal-content-select, .gmail-project__coverage-selection-boxs-labels-modal-content-text {
  width: 100%;
  padding: 10px;
  border: 1px solid #f7f8fc;
  border-radius: 4px;
  margin-bottom: 15px;
}
.gmail-project__coverage-selection-boxs-labels-modal-content-check {
  display: flex;
}
.gmail-project__coverage-selection-boxs-labels-modal-content-check-input {
  margin-right: 8px;
}
.gmail-project__coverage-selection-boxs-labels-modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 0 24px 20px;
  gap: 8px;
}
.gmail-project__coverage-selection-boxs-labels-modal-footer-close {
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  color: #0e57cb;
  background-color: #ffffff;
}
.gmail-project__coverage-selection-boxs-labels-modal-footer-close:hover {
  background-color: #ecf2fc;
}
.gmail-project__coverage-selection-boxs-labels-modal-footer-create {
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  color: #f1f3f4;
  background-color: #2f80ed;
}
.gmail-project__coverage-selection-boxs-labels-categories {
  display: flex;
  align-items: center;
  padding-left: 23px;
  padding-block: 9px;
  position: relative;
}
.gmail-project__coverage-selection-boxs-labels-categories:hover {
  background-color: #eaebef;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}
.gmail-project__coverage-selection-boxs-labels-categories-article {
  width: 14px;
  height: 11px;
  background-color: #64676c;
  -webkit-clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
          clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
}
.gmail-project__coverage-selection-boxs-labels-categories-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.813rem;
  line-height: 0.938rem;
  color: #414244;
  font-weight: 400;
  padding-left: 16px;
  margin: 0;
}
.gmail-project__coverage-selection-boxs-labels-categories-icon {
  margin-left: auto;
  cursor: pointer;
  margin-right: 8px;
}
.gmail-project__coverage-selection-boxs-labels-categories-icon-menu {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1019607843);
  padding: 10px;
  list-style: none;
  z-index: 100;
}
.gmail-project__coverage-selection-boxs-labels-categories-icon-menu-edit, .gmail-project__coverage-selection-boxs-labels-categories-icon-menu-delete {
  cursor: pointer;
  padding: 5px;
  font-size: 0.875rem;
  color: #333333;
  transition: background-color 0.3s;
}
.gmail-project__coverage-selection-boxs-labels-categories-icon-menu-edit:hover, .gmail-project__coverage-selection-boxs-labels-categories-icon-menu-delete:hover {
  background-color: #f0f0f0;
}
.gmail-project__coverage-main {
  background-color: #ffffff;
  border-radius: 15px;
  height: 175%;
  margin-top: 9px;
  transition: width 0.3s ease;
  flex-grow: 1;
  margin-left: 12px;
}
.gmail-project__coverage-main-controller {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-left: 18px;
  position: relative;
}
.gmail-project__coverage-main-controller-check {
  width: 13px;
  height: 13px;
}
.gmail-project__coverage-main-controller-check:hover {
  background-color: #eaebef;
  border-radius: 5%;
}
.gmail-project__coverage-main-controller-down {
  padding-left: 7px;
  font-size: 0.75rem;
}
.gmail-project__coverage-main-controller-refresh, .gmail-project__coverage-main-controller-other {
  padding-left: 27px;
}
.gmail-project__coverage-main-controller-trash, .gmail-project__coverage-main-controller-open {
  padding-left: 27px;
  display: none;
}
.gmail-project__coverage-main-controller-interval {
  display: flex;
  margin-left: auto;
  padding-right: 35px;
}
.gmail-project__coverage-main-controller-interval-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.625rem;
  line-height: 0.688rem;
  font-weight: 500;
  color: #818488;
  padding-top: 2px;
  margin: 0;
}
.gmail-project__coverage-main-controller-interval-left, .gmail-project__coverage-main-controller-interval-right {
  padding-left: 23px;
  font-size: 0.625rem;
  color: #bdbdbd;
  padding-top: 3px;
}
.gmail-project__coverage-main-selection {
  display: flex;
  flex-direction: row;
  padding-top: 12px;
}
.gmail-project__coverage-main-selection-primary {
  display: flex;
  padding: 18px 127px 18px 15px;
}
.gmail-project__coverage-main-selection-primary:hover {
  background-color: #f4f4f4;
}
.gmail-project__coverage-main-selection-primary-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.813rem;
  line-height: 0.938rem;
  font-weight: 600;
  padding-left: 16px;
  padding-bottom: 2px;
  margin: 0;
  color: #4f4f4f;
}
.gmail-project__coverage-main-selection-promotions, .gmail-project__coverage-main-selection-social {
  display: flex;
  padding: 18px 127px 18px 21px;
}
.gmail-project__coverage-main-selection-promotions:hover, .gmail-project__coverage-main-selection-social:hover {
  background-color: #f4f4f4;
}
.gmail-project__coverage-main-selection-promotions-text, .gmail-project__coverage-main-selection-social-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.813rem;
  line-height: 0.938rem;
  font-weight: 600;
  padding-left: 16px;
  padding-bottom: 2px;
  margin: 0;
  color: #4f4f4f;
}
.gmail-project__coverage-main-mail {
  display: flex;
  margin-right: 17px;
  align-items: center;
  position: relative;
  background-color: bisque;
}
.gmail-project__coverage-main-mail.read .gmail-project__coverage-main-mail-sender,
.gmail-project__coverage-main-mail.read .gmail-project__coverage-main-mail-detail {
  color: #6d6e70;
}
.gmail-project__coverage-main-mail.read .gmail-project__coverage-main-mail-star {
  color: #6d6e70;
}
.gmail-project__coverage-main-mail.read .gmail-project__coverage-main-mail-star.fa-solid {
  color: #f4b400;
}
.gmail-project__coverage-main-mail.unread .gmail-project__coverage-main-mail-sender,
.gmail-project__coverage-main-mail.unread .gmail-project__coverage-main-mail-detail {
  color: #333333;
}
.gmail-project__coverage-main-mail.unread .gmail-project__coverage-main-mail-star {
  color: #333333;
}
.gmail-project__coverage-main-mail.unread .gmail-project__coverage-main-mail-star.fa-solid {
  color: #f4b400;
}
.gmail-project__coverage-main-mail-table {
  width: 100%;
}
.gmail-project__coverage-main-mail-vertical {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: none;
}
.gmail-project__coverage-main-mail-vertical:hover {
  opacity: 1;
}
.gmail-project__coverage-main-mail-check {
  margin-left: 15px;
  transition: none;
}
.gmail-project__coverage-main-mail-star {
  padding-left: 15px;
  cursor: pointer;
  transition: color 0.3s ease;
  color: #bdbdbd;
}
.gmail-project__coverage-main-mail-star.fa-solid {
  color: #f4b400;
}
.gmail-project__coverage-main-mail-user-sender {
  width: 15%;
  font-family: "Roboto", sans-serif;
  font-size: 0.813rem;
  line-height: 0.938rem;
  font-weight: 500;
  color: #6d6e70;
  padding-left: 15px;
  padding-top: 10px;
  margin: 0 0 10px 0;
  white-space: nowrap;
}
.gmail-project__coverage-main-mail-user-detail {
  width: 60%;
  font-family: "Roboto", sans-serif;
  font-size: 0.813rem;
  line-height: 0.938rem;
  font-weight: 400;
  color: #6d6e70;
  padding-top: 10px;
  margin: 0 0 10px 0;
  white-space: nowrap;
}
.gmail-project__coverage-main-mail-user-date {
  display: flex;
  padding-right: 80px;
  font-family: "Roboto", sans-serif;
  font-size: 0.625rem;
  line-height: 0.688rem;
  font-weight: 400;
  color: #414244;
  margin: 0;
  white-space: nowrap;
}
.gmail-project__coverage-main-mail-icons {
  position: absolute;
  right: 15px;
  display: none;
}
.gmail-project__coverage-main-mail-icons:hover {
  display: flex;
}
.gmail-project__coverage-main-mail-icons i {
  margin-left: 15px;
  cursor: pointer;
  font-size: 0.813rem;
  color: #414244;
}
.gmail-project__coverage-main-box {
  left: 948px;
  bottom: 13px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1019607843);
  display: none;
  flex-direction: column;
  position: fixed;
}
.gmail-project__coverage-main-box-header {
  display: flex;
  justify-content: space-between;
  background-color: #f2f6fc;
  color: #4a4a4a;
  border-bottom: 1px solid;
}
.gmail-project__coverage-main-box-header-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 500;
  color: #4a4a4a;
  padding: 10px 0 9px 16px;
  margin: 0;
}
.gmail-project__coverage-main-box-header-icons-minimize {
  cursor: pointer;
  padding: 0px 0 12px 0;
  font-size: 0.563rem;
  color: #4a4a4a;
}
.gmail-project__coverage-main-box-header-icons-close {
  cursor: pointer;
  padding: 12px 16px 11px 14px;
  font-size: 0.75rem;
  color: #4a4a4a;
}
.gmail-project__coverage-main-box-content {
  font-size: 0.875rem;
  color: #4f4f4f;
}
.gmail-project__coverage-main-box-content-to {
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
}
.gmail-project__coverage-main-box-content-to-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 400;
  padding-top: 33px;
  padding-bottom: 10px;
}
.gmail-project__coverage-main-box-content-to-input {
  width: calc(98% - 50px);
  padding: 1px;
  border: none;
  border-radius: 4px;
}
.gmail-project__coverage-main-box-content-to-input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 400;
  color: #4a4a4a;
}
.gmail-project__coverage-main-box-content-to-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 400;
  color: #4a4a4a;
}
.gmail-project__coverage-main-box-content-to-input:focus {
  outline: none;
}
.gmail-project__coverage-main-box-content-to-stick {
  margin: 0;
}
.gmail-project__coverage-main-box-content-subject {
  padding-top: 9px;
  padding-left: 16px;
  padding-right: 16px;
}
.gmail-project__coverage-main-box-content-subject-input {
  width: calc(105% - 50px);
  border: none;
  border-radius: 4px;
  padding-bottom: 9px;
}
.gmail-project__coverage-main-box-content-subject-input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 400;
  color: #747789;
}
.gmail-project__coverage-main-box-content-subject-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 400;
  color: #747789;
}
.gmail-project__coverage-main-box-content-subject-input:focus {
  outline: none;
}
.gmail-project__coverage-main-box-content-subject-hr {
  margin: 0;
}
.gmail-project__coverage-main-box-content-body {
  padding: 0;
  width: 91%;
  min-height: 322px;
  border: none;
  border-radius: 4px;
  margin-left: 16px;
  padding-top: 10px;
}
.gmail-project__coverage-main-box-content-body:focus {
  outline: none;
}
.gmail-project__coverage-main-box-content-footer {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 17px;
  padding-bottom: 12px;
}
.gmail-project__coverage-main-box-content-footer-send {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 500;
  background-color: #0e57cb;
  color: #ffffff;
  padding: 7px 41px 7px 15px;
  margin-right: 4px;
  border: none;
  border-radius: 200px;
  cursor: pointer;
}
.gmail-project__coverage-main-box-content-footer-send:hover {
  background-color: #2f80ed;
}
.gmail-project__coverage-main-box-content-footer-icon {
  display: flex;
}
.gmail-project__coverage-main-box-content-footer-icon i {
  padding-left: 14px;
}
.gmail-project__coverage-main-box-content-footer-trash {
  padding-left: 127px;
}
.gmail-project__coverage-main-detail {
  padding-left: 18px;
  padding-top: 16px;
}
.gmail-project__coverage-main-detail-icons {
  display: flex;
  align-items: center;
  color: #4f4f4f;
  font-size: 0.875rem;
}
.gmail-project__coverage-main-detail-icons-back {
  cursor: pointer;
}
.gmail-project__coverage-main-detail-icons-archive {
  padding-left: 48px;
  padding-right: 23px;
}
.gmail-project__coverage-main-detail-icons-exclamation, .gmail-project__coverage-main-detail-icons-trash, .gmail-project__coverage-main-detail-icons-stick, .gmail-project__coverage-main-detail-icons-open, .gmail-project__coverage-main-detail-icons-clock, .gmail-project__coverage-main-detail-icons-check, .gmail-project__coverage-main-detail-icons-folder, .gmail-project__coverage-main-detail-icons-left {
  padding-right: 23px;
}
.gmail-project__coverage-main-detail-icons-interval {
  display: flex;
  margin-left: auto;
  padding-right: 35px;
}
.gmail-project__coverage-main-detail-icons-interval-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.625rem;
  line-height: 0.688rem;
  font-weight: 500;
  color: #818488;
  padding-top: 2px;
  margin: 0;
}
.gmail-project__coverage-main-detail-icons-interval-left {
  padding-left: 23px;
  font-size: 0.625rem;
  color: #bdbdbd;
  padding-top: 3px;
}
.gmail-project__coverage-main-detail-icons-interval-right {
  padding-left: 28px;
  font-size: 0.625rem;
  color: #bdbdbd;
  padding-top: 3px;
}
.gmail-project__coverage-main-detail-content {
  display: flex;
  align-items: center;
  padding: 41px 39px 23px 57px;
  width: 100%;
}
.gmail-project__coverage-main-detail-content-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding-right: 10px;
}
.gmail-project__coverage-main-detail-content-inbox {
  display: flex;
  width: 50px;
  height: 18px;
  background-color: #e0e0e0;
  border-radius: 4px;
}
.gmail-project__coverage-main-detail-content-inbox-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.688rem;
  line-height: 0.75rem;
  font-weight: 500;
  color: #666666;
  padding: 3px 0 2px 6px;
  margin: 0;
}
.gmail-project__coverage-main-detail-content-inbox-cancel {
  padding: 9px 5px 15px 5px;
  font-size: 0.313rem;
  color: #666666;
}
.gmail-project__coverage-main-detail-content-icons {
  display: flex;
  margin-left: auto;
  padding-right: 90px;
  color: #64676c;
}
.gmail-project__coverage-main-detail-content-icons-print {
  font-size: 0.813rem;
}
.gmail-project__coverage-main-detail-content-icons-share {
  font-size: 0.75rem;
  padding-left: 19px;
}
.gmail-project__coverage-main-detail-sender {
  display: flex;
  padding: 0 39px 20px 0;
}
.gmail-project__coverage-main-detail-sender-user {
  font-size: 2.563rem;
  color: #2f80ed;
}
.gmail-project__coverage-main-detail-sender-name {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 0.938rem;
  line-height: 1.063rem;
  font-weight: 700;
  padding: 2px 0 0 16px;
}
.gmail-project__coverage-main-detail-sender-name-mail {
  font-family: "Roboto", sans-serif;
  font-size: 0.938rem;
  line-height: 1.063rem;
  font-weight: 700;
  color: #757575;
}
.gmail-project__coverage-main-detail-sender-info {
  display: flex;
  margin-left: auto;
}
.gmail-project__coverage-main-detail-sender-info-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.625rem;
  line-height: 0.688rem;
  font-weight: 500;
  color: #818488;
  margin: 0;
}
.gmail-project__coverage-main-detail-sender-info-star {
  font-size: 0.813rem;
  padding: 4px 0 0 20px;
  cursor: pointer;
  transition: color 0.3s ease;
  color: #bdbdbd;
}
.gmail-project__coverage-main-detail-sender-info-star.fa-solid {
  color: #f4b400;
}
.gmail-project__coverage-main-detail-sender-info-reply {
  font-size: 0.875rem;
  padding: 0 0 0 20px;
}
.gmail-project__coverage-main-detail-sender-info-stick {
  font-size: 0.688rem;
  padding: 2px 0 0 20px;
}
.gmail-project__coverage-main-detail-explanation {
  padding: 12px 95px 0 57px;
}
.gmail-project__coverage-main-detail-explanation-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1.188rem;
  font-weight: 400;
  color: #535456;
  margin: 0;
}
.gmail-project__coverage-main-detail-explanation-divider {
  color: #eceff1;
  margin: 30px 0;
}
.gmail-project__coverage-icons {
  padding-top: 19px;
  margin-left: 12px;
}
.gmail-project__coverage-icons-calendar {
  font-size: 1rem;
  padding-bottom: 32px;
}
.gmail-project__coverage-icons-light {
  font-size: 1.063rem;
  padding-bottom: 32px;
}
.gmail-project__coverage-icons-user {
  font-size: 1rem;
  padding-bottom: 32px;
}
.gmail-project__coverage-icons-minus {
  font-size: 1.063rem;
  padding-bottom: 32px;
}
.gmail-project__coverage-icons-plus {
  font-size: 0.875rem;
  padding-bottom: 32px;
}

.gmail-project__coverage-selection-boxs.collapsed p, .gmail-project__coverage-selection-boxs.collapsed .gmail-project__coverage-selection-boxs-labels-add-header,
.gmail-project__coverage-selection-boxs.collapsed .gmail-project__coverage-selection-boxs-labels-categories-text,
.gmail-project__coverage-selection-boxs.collapsed .gmail-project__coverage-selection-boxs-create-compose-text,
.gmail-project__coverage-selection-boxs.collapsed .gmail-project__coverage-selection-boxs-menu-item-text {
  display: none;
}
.gmail-project__coverage-selection-boxs.collapsed .gmail-project__coverage-selection-boxs-labels-add-icon {
  padding-left: 0px;
  padding-bottom: 10px;
}
.gmail-project__coverage-selection-boxs.collapsed .gmail-project__coverage-selection-boxs-headline,
.gmail-project__coverage-selection-boxs.collapsed .gmail-project__coverage-selection-boxs-menu-item,
.gmail-project__coverage-selection-boxs.collapsed .gmail-project__coverage-selection-boxs-labels-categories {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding-left: 0px;
  margin-left: 11px;
}
.gmail-project__coverage-selection-boxs.collapsed .gmail-project__coverage-selection-boxs-headline i,
.gmail-project__coverage-selection-boxs.collapsed .gmail-project__coverage-selection-boxs-menu-item i,
.gmail-project__coverage-selection-boxs.collapsed .gmail-project__coverage-selection-boxs-labels-categories i {
  padding-left: 9px;
  padding-bottom: 10px;
}
.gmail-project__coverage-selection-boxs.collapsed .gmail-project__coverage-selection-boxs-headline .gmail-project__coverage-selection-boxs-labels-categories-article,
.gmail-project__coverage-selection-boxs.collapsed .gmail-project__coverage-selection-boxs-menu-item .gmail-project__coverage-selection-boxs-labels-categories-article,
.gmail-project__coverage-selection-boxs.collapsed .gmail-project__coverage-selection-boxs-labels-categories .gmail-project__coverage-selection-boxs-labels-categories-article {
  margin-left: 5px;
  padding-left: 15px;
}
.gmail-project__coverage-selection-boxs.collapsed .gmail-project__coverage-selection-boxs-headline .gmail-project__coverage-selection-boxs-labels-categories-icon,
.gmail-project__coverage-selection-boxs.collapsed .gmail-project__coverage-selection-boxs-menu-item .gmail-project__coverage-selection-boxs-labels-categories-icon,
.gmail-project__coverage-selection-boxs.collapsed .gmail-project__coverage-selection-boxs-labels-categories .gmail-project__coverage-selection-boxs-labels-categories-icon {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.gmail-project__coverage-selection-boxs.expanded p, .gmail-project__coverage-selection-boxs.expanded .gmail-project__coverage-selection-boxs-labels-add-header,
.gmail-project__coverage-selection-boxs.expanded .gmail-project__coverage-selection-boxs-labels-categories-text,
.gmail-project__coverage-selection-boxs.expanded .gmail-project__coverage-selection-boxs-create-compose-text,
.gmail-project__coverage-selection-boxs.expanded .gmail-project__coverage-selection-boxs-menu-item-text {
  display: block;
}
.gmail-project__coverage-selection-boxs.expanded .gmail-project__coverage-selection-boxs-labels-add-icon {
  padding-left: 119px;
}

.gmail-project__coverage-main-selection .active i,
.gmail-project__coverage-main-selection .active p {
  color: #2f80ed;
}

.gmail-project__coverage-main-mail .gmail-project__coverage-main-mail-icons,
.gmail-project__coverage-main-mail .gmail-project__coverage-main-mail-vertical {
  display: none;
}
.gmail-project__coverage-main-mail:hover .gmail-project__coverage-main-mail-icons {
  display: flex;
}
.gmail-project__coverage-main-mail:hover .gmail-project__coverage-main-mail-vertical {
  display: inline;
}/*# sourceMappingURL=style.css.map */